body {
    margin: 0;
    font-family: 'Anton', sans-serif;
    background: linear-gradient(55deg, #47beec, #608992);
    overflow: hidden;
}

span {
    font-size: 4vh;
}

.dashboard {
    margin-left: 1%;
    margin-right: 1%;
}

.bar {
    background-color: black;
    height: 5vh;
    margin-bottom: 1%;
}

.player {
    background-color: #c1c3c3;
    height: 13vh;
    width: 10%;
    float: left;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.level {
    background-color: #c1c3c3;
    height: 13vh;
    width: 20%;
    float: left;
    margin-left: 10px;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.title {
    position: absolute;
    left: 40%;
    top: 1%;
}

.oswar {
    font-size: 20vh;
}

.menu {
    background-color: #c1c3c3;
    height: 10vh;
    width: 8%;
    float: right;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.points {
    float: right;
    background-color: #c1c3c3;
    height: 10vh;
    width: 5%;
    margin-right: 10px;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.shop {
    position: absolute;
    top: 40%;
    background-color: #c1c3c3;
    height: 10vh;
    width: 8%;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.characters {
    position: absolute;
    top: 55%;
    background-color: #c1c3c3;
    height: 10vh;
    width: 8%;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.news {
    position: absolute;
    top: 70%;
    background-color: #c1c3c3;
    height: 10vh;
    width: 8%;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.friends {
    position: absolute;
    right: 1%;
    top: 40%;
    background-color: #c1c3c3;
    height: 10vh;
    width: 8%;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.club {
    position: absolute;
    right: 1%;
    top:55%;
    background-color: #c1c3c3;
    height: 10vh;
    width: 8%;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.chat {
    position: absolute;
    right: 1%;
    top: 70%;
    background-color: #c1c3c3;
    height: 10vh;
    width: 8%;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.pass {
    position: absolute;
    bottom: 1%;
    height: 10vh;
    width: 20%;
    background-color: #98d13f;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.gamemode {
    position: absolute;
    bottom: 1%;
    height: 10vh;
    width: 35%;
    margin-left: 30%;
    background-color: #c1c3c3;
    transform: skew(-5deg);
    border: 1px solid black;
    border-radius: 10px;
    border: none
}

.play {
    position: absolute;
    float: right;
    right: 1%;
    bottom: 1%;
    height: 15vh;
    width: 30%;
    background-color: #98d13f;
    transform: skew(-5deg);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    animation: glow 2s infinite;
    border: 1px solid black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.player:hover, .level:hover, .menu:hover, .points:hover, .shop:hover, .characters:hover, .news:hover, .friends:hover, .club:hover, .chat:hover, .gamemode:hover {
    cursor: pointer;
    background-color: #919297;
}

.menu, .points, .shop, .characters, .news, .friends, .club, .chat, .pass, .gamemode{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player, .level {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.gems, .coins {
    padding: 5px;
}

.pass:hover {
    cursor: pointer;
    background-color: #a6cf64;
}

@keyframes glow {
    0% {background-color: #86ce12;}
    100% {background-color: #b0cf7e;}
}